
body {
    background-color: #F8F4e6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-link {
  font-size: 25px !important;
  font-weight: 700 !important;
  padding-left: 30px !important;
  padding-right: 12px !important;
  color: #6A3F12 !important;
}

.nav-link:hover {
  color: #E6B010 !important;
}
